body{
    justify-content: center;
    align-items: center;
    background:rgb(173, 172, 172);
    font-family: Arial, Helvetica, sans-serif;
}
.about-text{
	width: 100%;
	margin: auto;
	align-items: center;
}
.container2{
    position: relative;
    padding-left: 10px;
}
.abc{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.abc img {
	filter: drop-shadow(0px 10px 6px rgb(18, 20, 44));
	animation: drop 1.5s ease-in;
	display: flex;
}
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
